# Ignore Python virtual environments
venv/
server/venv/

# Ignore node_modules for frontend
client/**/node_modules/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db
